init sodium_init
crypto_pwhash_argon2id,0
crypto_pwhash_argon2id,2
crypto_pwhash_argon2id,3
crypto_pwhash_argon2id,4
argon2_fill_segment_avx512f,0
argon2_fill_segment_avx2,0
argon2_fill_segment_ssse3,0
argon2_fill_segment_ref,0
crypto_sign,0
crypto_sign,1
crypto_sign,2
crypto_sign,3
crypto_sign,4
crypto_aead_chacha20poly1305_ietf_decrypt,0
crypto_aead_chacha20poly1305_ietf_decrypt,1
crypto_aead_chacha20poly1305_ietf_decrypt,8
crypto_aead_chacha20poly1305_ietf_encrypt,2
crypto_aead_chacha20poly1305_ietf_encrypt,3
crypto_aead_chacha20poly1305_ietf_encrypt,8
chacha20_encrypt_bytes,0
chacha20_encrypt_bytes,1
chacha20_encrypt_bytes,2
chacha20_encrypt_bytes,3
stream_ietf_ext_ref,0
stream_ietf_ext_ref,1
stream_ietf_ext_ref,3
stream_ietf_ext_ref_xor_ic,0
stream_ietf_ext_ref_xor_ic,2
stream_ietf_ext_ref_xor_ic,5
stream_ref,0
stream_ref,1
stream_ref,3
stream_ref_xor_ic,0
stream_ref_xor_ic,1
stream_ref_xor_ic,2
stream_ref_xor_ic,4
stream_ref_xor_ic,5
crypto_onetimeauth_init,0
crypto_onetimeauth_init,1
crypto_onetimeauth,1
crypto_onetimeauth,2
crypto_onetimeauth,3
crypto_onetimeauth_poly1305,1
crypto_onetimeauth_poly1305,2
crypto_onetimeauth_poly1305,3
crypto_onetimeauth_verify,1
crypto_onetimeauth_verify,2
crypto_onetimeauth_verify,3
crypto_onetimeauth_poly1305_verify,1
crypto_onetimeauth_poly1305_verify,2
crypto_onetimeauth_poly1305_verify,3
crypto_onetimeauth_poly1305_donna_implementation
crypto_onetimeauth_poly1305_sse2_implementation
crypto_onetimeauth_poly1305_donna,1
crypto_onetimeauth_poly1305_donna,2
crypto_onetimeauth_poly1305_donna,3
crypto_onetimeauth_poly1305_donna_init,0
crypto_onetimeauth_poly1305_donna_init,1
crypto_onetimeauth_poly1305_donna_update,0
crypto_onetimeauth_poly1305_donna_update,1
crypto_onetimeauth_poly1305_donna_update,2
crypto_onetimeauth_poly1305_donna_final,0
crypto_onetimeauth_poly1305_donna_verify,1
crypto_onetimeauth_poly1305_donna_verify,2
crypto_onetimeauth_poly1305_donna_verify,3
crypto_onetimeauth_poly1305_sse2_verify,1
crypto_onetimeauth_poly1305_sse2_verify,2
crypto_onetimeauth_poly1305_sse2_verify,3
crypto_onetimeauth_poly1305_sse2,1
crypto_onetimeauth_poly1305_sse2,2
crypto_onetimeauth_poly1305_sse2,3
crypto_onetimeauth_poly1305_sse2_final,0
crypto_onetimeauth_poly1305_sse2_update,0
crypto_onetimeauth_poly1305_sse2_update,1
crypto_onetimeauth_poly1305_sse2_update,2
crypto_onetimeauth_poly1305_sse2_init,0
crypto_onetimeauth_poly1305_sse2_init,1
